*{
    margin: 0%;
    padding: 0%;
}
.container{
    /* border: 2px solid black; */
    background-color: rgb(181, 200, 102);
}
.cont{
    display: flex;
}
.container .a,.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.l{
    
    border: 1px solid black;
    height: 150px;
    margin: 10px;
    width: 200px;
    background-color: #3d40cf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
}
.container .b{
    background-color: rgb(204, 85, 192);
}
.container .c{
    background-color: #3d40cf;
}
.container .d{
    background-color: rgb(204, 85, 192);
}
.container .e{
    background-color: #3d40cf;
}
.container .f{
    background-color: rgb(204, 85, 192);
}
.container .g{
    background-color: #3d40cf;
}
.container .h{
    background-color: rgb(204, 85, 192);
}
.container .i{
    background-color: #3d40cf;
}
.container .j{
    background-color: rgb(204, 85, 192);
}
.container .k{
    background-color: #3d40cf;
}
.container .l{
    background-color: rgb(204, 85, 192);
}

/* flex-dirction */
.fl-di-row{
    display: flex;
    flex-direction: row;
}
.fl-di-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.fl-di-column{
    display: flex;
    flex-direction: column;
}
.fl-di-column-reverse{
    display: flex;
    flex-direction: column-reverse;
}
/* flex=wrap */
.fl-wrap {
    display: flex;
    flex-wrap: wrap;
}
.fl-no-wrap{
    display: flex;
    flex-wrap: nowrap;
    /* width: fit-content; */
}
.fl-wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;  
}
.fl-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}
.flex-space-evenly{
    display: flex;
    justify-content: space-evenly;
}
/* align-item */
.align-item{
    height: 500px;
}
.align-item-start{
    display: flex;
    align-items: flex-start ;
}
.align-item-end{
    display: flex;
    align-items: flex-end ;
}
.align-item-center{
    display: flex;
    align-items: center ;
}
.align-item-stretch{
    display: flex;
    align-items: stretch ;
}
/* stretch  */
.aa,.bb,.cc,.dd{
    border: 1px solid black;
    margin: 10px;
    width: 200px;
    background-color: #3d40cf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
}
.bb,.dd{
    background-color: rgb(204, 85, 192);
}
/* baseline  */
.align-item-baseline{
    display: flex;
    align-items: baseline ;
}
.aaa,.bbb,.ccc,.ddd{
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    width: 200px;
    background-color: #3d40cf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
}
.bbb{
    height: 200px;
    background-color: rgb(204, 85, 192);
}
.ccc{
    height: 250px;
}
.ddd{
    height:280px ;
    background-color: rgb(204, 85, 192);
}
/* align-content  */
.align-content-start{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap
}
.align-content-end{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.align-content-center{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.align-content-space-between{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.align-content-space-around{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.align-content-space-evenly{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

